<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <!---<a class="link" href="{{ site.url }}/blog">Blog</a>--->
                    <a class="link" href="https://medium.com/@rainsworth">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                    <!---<a class="link" href="https://rachaelainsworth.wordpress.com/projects/">Projects</a>--->
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                    <!---<a class="link" href="https://rachaelainsworth.wordpress.com/about/">About</a>--->
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="https://docs.google.com/gview?url=https://github.com/rainsworth/awesomeCV/raw/master/resume.pdf&embedded=true">CV</a>
                <!---<a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>--->
            </li>
        {% endif %}
    </ul>
</nav>
